useDynLib(indexing)

export(
  .IndexEnv,
  indexenv,

  createIndex,
  createData,
  loadIndex,
  loadData,
  searchIndex,

  "%r%",
  qsubset
)

export(
  # general utility functions

  localtime
)

S3method(createIndex, integer)
S3method(createIndex, double)
S3method(createIndex, character)

S3method("<",  "indexed")
S3method("<=", "indexed")
S3method(">",  "indexed")
S3method(">=", "indexed")
S3method("==", "indexed")
S3method("!=", "indexed")
S3method("%r%", "indexed")

S3method(subset, "indexed_db")

# indexed_posixct
S3method(Ops, "indexed_posixct")

# indexed_date
S3method("==", "indexed_date")

S3method("[", "indexed_db")

S3method("&", "rowid")
S3method("|", "rowid")
